:root {
  --pagination-li-size: 18px;
  --pagination-li-size-desktop: calc(var(--pagination-li-size) + 4px);

  --pagination-button-size: 22px;
  --pagination-button-size-desktop: calc(var(--pagination-button-size) + 4px);
}

.index__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

@media only screen and (min-width: 1100px) {
  .index__welcome__image {
    display: block !important;
    width: 1100px;
  }

  .index__content {
    margin-top: 0;
  }
}

.index__no_article {
  margin: 20px 0 20px 0;
  font-size: 18px;
  white-space: pre-line;
  text-align: center;
}

.index__welcome__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
}

.index__welcome__container > p {
  margin: 0;
}

@media only screen and (min-width: 1100px) {
  .index__welcome__container > p {
    width: calc(1100px - 2px);
    margin: 0 0 0 2px;
    text-align: left;
  }
}

.index__pagination__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__pagination__container > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.index__pagination__container > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--pagination-li-size);
  width: var(--pagination-li-size);
  margin: 0 2px 0 2px;
}

.index__pagination__container > button {
  height: var(--pagination-button-size);
  width: var(--pagination-button-size);
  margin: 2px;
}

.index__pagination__container > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .index__pagination__container {
    margin: 10px 0 10px 0;
  }

  .index__pagination__container > ul > li {
    font-size: 16px;
    height: var(--pagination-li-size-desktop);
    width: var(--pagination-li-size-desktop);
    margin: 0 4px 0 4px;
  }

  .index__pagination__container > button {
    height: var(--pagination-button-size-desktop);
    width: var(--pagination-button-size-desktop);
  }
}

.index__pagination__selected {
  background-color: lightslategray;
}

.index__article__bottom__container p {
  margin: 0;
}

/* ARTICLES MOBILE VERSION */

.index__article__background__container.index__article__desktop {
  display: none;
}

.index__article__container.index__article__mobile {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.index__article__container.index__article__mobile > article:first-of-type {
  margin-top: 0;
}

.index__article__container.index__article__mobile > article {
  margin-top: 14px;
  cursor: pointer;
}

.index__article__container.index__article__mobile > article > img {
  width: 100%;
}

.index__article__mobile .index__article__title {
  margin: 0 0 8px 0;
}

.index__article__mobile .index__article__bottom__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3px;
}

.index__article__mobile .index__article__line {
  height: 2px;
  background: black;
  margin-top: 8px;
  width: calc(100% + 20px);
  margin-left: -10px;
}

/* ARTICLES DESKTOP VERSION */

@media only screen and (min-width: 1100px) {
  .index__article__container.index__article__mobile {
    display: none;
  }

  .index__article__background__container.index__article__desktop {
    display: flex;
  }

  #articles {
    position: relative;
    top: -67px;
  }
}

.index__article__background__container.index__article__desktop {
  flex-direction: column;
  align-items: center;
  width: 1100px;
  background-color: var(--primary-background-color);
}

.index__article__container.index__article__desktop {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.index__article__container.index__article__desktop article {
  margin-top: 32px;
}

.index__article__container.index__article__desktop
  .index__article__info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.index__article__container.index__article__desktop img {
  width: 48%;
  height: fit-content;
}

.index__article__desktop .index__article__text__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}

.index__article__desktop .index__article__title {
  margin: 0;
}

.index__article__desktop .index__article__body {
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  font-weight: bold;
  margin: 0;
}

.index__article__desktop .index__article__bottom__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.index__article__desktop .index__article__line {
  height: 2px;
  background: black;
  margin-top: 20px;
  width: calc(100% + 20px);
  margin-left: -10px;
}
