:root {
  --primary-background-color: #31363f;
  --secondary-background-color: #282c34;
  --main-text-color: #ffffff;
  --header-height: 68px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: var(--primary-background-color);
  color: var(--main-text-color);
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
    background-color: var(--secondary-background-color);
  }
}

/*
  Fixed header
  from https://limpid.nl/lab/css/fixed/header
*/
@media only screen and (min-width: 768px) {
  body {
    padding-top: var(--header-height);
  }

  * html body {
    overflow: hidden;
  }

  * html .content {
    height: 100%;
    overflow: auto;
  }
}

a,
a:visited {
  text-decoration: none;
  color: var(--main-text-color);
}

.image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.error {
  color: red;
}
